<div class="form-card form-card--page">
  <h1 class="form-card__title">Welcome, <%= current_user.name %></h1>
  <div class="home-actions">
    <%= link_to "View Questions", questions_path, class: "btn btn--primary btn--full" %>
    <% if @permissions.create_questions? %>
      <%= link_to "Ask a Question", new_question_path, class: "btn btn--secondary btn--full" %>
    <% end %>
  </div>
</div>
